<div>
  <div id="container">
    <form id="userFilterForm">
      <label for="user">Username:</label>
      <input type="text" name="user" />
      <button type="submit">Search</button>
    </form>
    <hr />

    <div id="usersList"></div>
  </div>
  <div id="userMessages"></div>
</div>

<style is:global>
  #usersList {
    display: flex;
  }

  #usersList button {
    border: none;
    background-color: red;
    padding-right: 10px;
  }

  #container {
    padding: 10px;
    border: 2px solid gray;
  }
</style>

<script>
  import {
    collection,
    getDocs,
    limit,
    orderBy,
    query,
    QueryDocumentSnapshot,
    Timestamp,
    where,
  } from "firebase/firestore";
  import { messagesCol, usersCol } from "../scripts/firestore";
  import { makeP } from "../scripts/helper";
  import type { UserProfile } from "firebase/auth";
  import type { Message } from "../scripts/models";

  async function fetchTopUsers() {
    const q = query(usersCol, orderBy("messagesSent", "desc"), limit(10));

    return getDocs(q);
  }

  async function searchUsers(keyword: string) {
    const q = query(
      usersCol,
      where("displayName", ">=", keyword),
      where("displayName", "<=", keyword + "\uf8ff"),
      limit(10),
    );

    return getDocs(q);
  }

  async function fetchUserMessages(user: string) {
    const q = query(
      messagesCol,
      // TODO: replace the `userName` field in messages with displayName to be more clear.
      where("userName", "==", user),
      orderBy("createdAt", "desc"),
      limit(10),
    );

    return getDocs(q);
  }

  const usersList = document.getElementById("usersList")!;
  const userMessages = document.getElementById("userMessages")!;

  function renderUserButtons(docs: QueryDocumentSnapshot<UserProfile>[]) {
    usersList.innerHTML = "";

    docs.forEach((doc) => {
      const data = doc.data();
      console.log(data);

      if (!data.email) return;

      const btn = document.createElement("button");
      btn.textContent = data.displayName;
      btn.dataset.user = data.displayName;

      usersList.appendChild(btn);
    });
  }

  function renderMessages(docs: QueryDocumentSnapshot<Message>[]) {
    userMessages.innerHTML = "";

    docs.forEach((doc) => {
      const data = doc.data();
      const date = data.createdAt.toDate();

      const wrapper = document.createElement("div");
      wrapper.replaceChildren(
        makeP(data.text),
        makeP(date.toLocaleTimeString()),
      );

      userMessages.appendChild(wrapper);
    });
  }

  usersList.addEventListener("click", async (e) => {
    const target = e.target as HTMLElement;
    if (target.tagName !== "BUTTON") return;

    const user = target.dataset.user!;
    const snapshot = await fetchUserMessages(user);
    renderMessages(snapshot.docs);
  });

  const userFilterForm = document.getElementById(
    "userFilterForm",
  ) as HTMLFormElement;

  userFilterForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(userFilterForm);
    const keyword = String(formData.get("user") || "");

    const snapshot = await searchUsers(keyword);

    renderUserButtons(snapshot.docs);
  });

  (async function init() {
    const snapshot = await fetchTopUsers();
    renderUserButtons(snapshot.docs);
  })();
</script>
